/* The main content */
<<<<<<< HEAD

.main-content {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 600px;
	padding-top: 40px;
	margin: 0 0 40px 210px;
}


/* The left sidebar */

.sidebar-left {
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #EEE;
	width: 150px;
	height: 100%;
	padding: 20px 0;
}

.sidebar-left a.logo {
	display: block;
	text-decoration: none;
	font-family: 'Arvo', cursive;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	color:  #222;
	font-size: 28px;
	font-weight: normal;
	line-height: 3.3;
	background-color:  #DDD;
}

.sidebar-left .sidebar-links {
	margin: 20px auto;
}

.sidebar-left .sidebar-links a {
	display: block;
	text-decoration: none;
	margin: 0 auto 5px auto;
	padding: 20px 0;
	background-color: #EEE;
	text-align: center;
	color:  #222;
	font-size: 12px;
	font-weight: bold;
	border-left-width: 2px;
	border-left-style: solid;
	
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.sidebar-links a:hover {
	background-color: #F7F7F7;
	color: #777;
	
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.sidebar-left .sidebar-links a i.fa {
	display: block;
	font-size: 35px;
	margin-bottom: 5px;
}

.sidebar-left .sidebar-links a.selected{
	background-color: #ffffff;
	color:  #777;
	font-size: 12px;
	font-weight: bold;
	cursor: default;
}

/* Link Colors */

.sidebar-left .sidebar-links a.link-blue {
	border-color: #487db2;
}
.sidebar-left .sidebar-links a.link-blue i.fa {
	color: #487db2;
}

.sidebar-left .sidebar-links a.link-red {
	border-color: #da4545;
}
.sidebar-left .sidebar-links a.link-red i.fa {
	color: #da4545;
}

.sidebar-left .sidebar-links a.link-yellow {
	border-color: #d0d237;
}
.sidebar-left .sidebar-links a.link-yellow i.fa {
	color: #d0d237;
}

.sidebar-left .sidebar-links a.link-green {
	border-color: #86be2e;
}
.sidebar-left .sidebar-links a.link-green i.fa {
	color: #86be2e;
}

/* Making the sidebar responsive */

@media (max-width: 900px) {

	.main-content{
		max-width: none;
		padding: 40px 20px;
		margin: 0 0 40px;
	}

	.sidebar-left {
		width: auto;
		height: auto;
		position: inherit;
		padding: 20px 0 0;
	}

	.sidebar-left .sidebar-links {
		text-align: center;
		margin: 20px auto 0;
	}

	.sidebar-left .sidebar-links a {
		display: inline-block;
		width: 100px;
		margin: 0;
		padding: 14px 0;
		border-left: none;
		border-top-width: 2px;
		border-top-style: solid;
	}

}

/* Mobile phone layout */

@media (max-width: 450px) {

	.sidebar-left {
		padding: 20px 0;
	}

	.sidebar-left .sidebar-links {
		text-align: center;
		margin: 20px auto 0;
	}

	.sidebar-left .sidebar-links a {
		display: block;
		max-width: 240px;
		width: auto;
		vertical-align: middle;
		text-align: left;
		margin: 0 auto 5px;
		padding: 10px 25px;
		border-top: none;
		border-left-width: 2px;
		border-left-style: solid;
	}

	.sidebar-left .sidebar-links a i.fa {
		display: inline-block;
		font-size: 20px;
		width: 20px;
		margin: 0 20px 0 0;
		vertical-align: middle;
	}

}

=======
.main-content {
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
	max-width: 600px;
	padding-top: 40px;
	margin: 0 0 40px 210px;
}


.header-basic-light{
	padding: 20px 40px;
	box-sizing:border-box;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	height: 80px;
	background-color: #fff;
}

.header-basic-light .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-basic-light .header-limiter h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	margin: 0;
}

/* The header links */

.header-basic-light .header-limiter a {
	color: #5c616a;
	text-decoration: none;
}

.header-basic-light .header-limiter a img {
	width: 50px;
}

.header-basic-light .header-limiter nav{
	font:15px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-basic-light .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	opacity: 0.9;
	text-decoration:none;
	color: #5c616a;
	line-height:1;
}

.header-basic-light .header-limiter nav a.selected {
	background-color: #86a3d5;
	color: #ffffff;
	border-radius: 3px;
	padding:6px 10px;
}

/* Making the header responsive. */

@media all and (max-width: 600px) {

	.header-basic-light {
		padding: 20px 0;
		height: 85px;
	}

	.header-basic-light .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-basic-light .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-basic-light .header-limiter nav a {
		font-size: 13px;
	}

}
>>>>>>> homepage
/*	Removing margins and paddings from the body, so that
    the sidebar takes the full height of the page */

body {
	margin: 0;
	padding: 0;
}
